{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>first</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 ,shrink-to-fit=no ">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


  

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">INCUBATE.com</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
    <span class="navbar-toggler-icon"></span>

  </button>
  <div class="collapse navbar-collapse" id="collapsenavbar">
  <!-- Links -->
  <ul class="navbar-nav">
    
    <div class="nav">
    <li class="nav-item" >

      <a class="btn btn-outline-success my-0 my-sm-0" href="/mapnav/signup/">sign up</a>
    </li>
  </div>

    <div class="nav">
    <li class="nav-item">
      <a class="btn btn-outline-success my-0 my-sm-0" href="/mapnav/login/">log in</a>
    </li>
    </div>


    
  </ul>
</div>
</nav>



<br>
<style type="text/css">

  body { 
         background: url('{% static "mapnav/ev.jpg" %}');
        
         
  }
	
  .nav-item{

		padding-left: 100px;
	}

 

</style>

{% if messages %}
 {% for message in messages %}
    <div class='alert alert-{{ message.tags }}'>
        {{ message}}
    </div>
 {% endfor %}

{% endif %}

{% block body%}



{% endblock %}
  




</body>
</html>