3==0.0.0
alabaster==0.7.12
astroid==2.2.5
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.2
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cloudpickle==1.1.1
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.2
django-crispy-forms==1.7.2
django-widget-tweaks==1.4.5
djangorestframework==3.9.4
docutils==0.14
entrypoints==0.3
Flask==1.0.2
gTTS==2.0.3
gTTS-token==1.1.3
idna==2.8
imagesize==1.1.0
imutils==0.5.2
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
isort==4.3.20
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
keyring==19.0.2
Kivy==1.10.1
Kivy-Garden==0.1.4
kiwisolver==1.0.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
numpy==1.16.2
numpydoc==0.9.1
opencv-python==4.0.0.21
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
pickleshare==0.7.5
pipenv==2018.11.26
prompt-toolkit==2.0.9
psutil==5.6.2
pycodestyle==2.5.0
pyflakes==2.1.1
pygame==1.9.5
Pygments==2.3.1
pylint==2.3.1
pyparsing==2.3.1
pypiwin32==223
PyQt5==5.12.2
PyQt5-sip==4.19.17
PyQtWebEngine==5.12.1
pyrsistent==0.15.2
python-dateutil==2.8.0
pyttsx3==2.71
pytz==2018.9
pywin32==224
pywin32-ctypes==0.2.0
pyzmq==18.0.1
QtAwesome==0.5.7
qtconsole==4.4.4
QtPy==1.7.1
requests==2.21.0
rope==0.14.0
scipy==1.3.0
selenium==3.141.0
six==1.12.0
snowballstemmer==1.2.1
soupsieve==1.9.1
SpeechRecognition==3.8.1
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spyder==3.3.4
spyder-kernels==0.4.4
sqlparse==0.3.0
testpath==0.4.2
tornado==6.0.2
traitlets==4.3.2
typed-ast==1.3.5
urllib3==1.24.2
virtualenv==16.6.0
virtualenv-clone==0.5.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
wrapt==1.11.1

gunicorn==19.9.0
psycopg2==2.7.6.1
